
.icon-pencil:before { content: '\e800'; } /* '' */
.icon-globe:before { content: '\e801'; } /* '' */
.icon-code-1:before { content: '\e802'; } /* '' */
.icon-chrome:before { content: '\e841'; } /* '' */
.icon-users:before { content: '\f064'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */